<h1>Bir Küçük Jeep Meselesi</h1>

<table>
  <thead>
  <tr>
    <th>Başlık</th>
    <th>Metin</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @article.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Göster', article_path(article) %></td>
      <td><%= link_to 'Düzenle', edit_article_path(article) %></td>
      <td><%= link_to 'Sil',article_path(article), method: :delete, data: {confirm: 'Silmek istediğinize emin misiniz?'} %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Metin Ekle', new_article_path %>